<html>
    {% include 'header.html' %}
    <h2>
        Welcome 
            
        {{ email }}
    </h2>
    <body>
        <div id="table-data"></div>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="../../public/script/admin.js"></script>
        <link href="../../public/css/style.css" rel="stylesheet">
        <script>
    loadTable(1, function() {
    showToast("Data load successfully","success");  
    });
    </script>
        <div class="modal" id="userData" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content"></div>
            </div>
        </div>
        <button class="btn btn-info" id="update" data-eid='{{ uid }}' style="position: absolute; right: 10px; top: 47px; margin-right: 10px;">
            My-Profile                        
        </button>
    </body>
</html>
