<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../script/Script.js"></script>
    <script src="../script/validation.js"></script>
    <link href="../css/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
   <form method="post" enctype="multipart/form-data" action="sign-up.php" class="container mt-5" id="myForm">
    <section class="h-100 h-custom gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5" style="color: #4835d4;">General Information</h3>
                    <div class="col-md-15">
                    <div class="form-outline">
                    <input type="file" name="imagename" id="fileToUpload" class="form-control">
                    <label class="form-label" for="firstname">Image</label>
                  </div>
                </div>
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <input type="text" id="firstname" name="firstname" class="form-control form-control-lg" />
                          <label class="form-label" for="firstname">First name</label>
                        </div>
  
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
  
                        <div class="form-outline">
                          <input type="text" id="lastname" name="lastname" class="form-control form-control-lg" />
                          <label class="form-label" for="lastname">Last name</label>
                        </div>
  
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
  
                        <div class="form-outline">
                          <input type="text" id="fathername" name="fathername" class="form-control form-control-lg" />
                          <label class="form-label" for="fathername">Father name</label>
                        </div>
  
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
  
                        <div class="form-outline">
                          <input type="text" id="mothername" name="mothername" class="form-control form-control-lg" />
                          <label class="form-label" for="mothername">Mother name</label>
                        </div>
  
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="mr-2">
                          Gender
                      </label>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="gender" id="male" value="male">
                          <label class="form-check-label" for="male">
                              Male
                          </label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                          <label class="form-check-label" for="female">
                              Female
                          </label>
                      </div>
                    </div>
                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <input type="text" id="email" name="email" class="form-control form-control-lg" />
                        <label class="form-label" for="email">Email-id</label>
                      </div>
                    </div>
   
                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <input type="password" id="password" name="password" class="form-control form-control-lg" />
                        <label class="form-label" for="password">Password</label>
                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <input type="password" id="confirm_password" name="confirm_password" class="form-control form-control-lg" />
                        <label class="form-label" for="confirm_password">Confirm Password</label>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-lg-6 bg-indigo">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5">Contact Details</h3>
  
                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" id="street" name="street" class="form-control form-control-lg" />
                        <label class="form-label" for="street">Street + Nr</label>
                      </div>
                    </div>
  
                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" id="additional_info" name="additional_info" class="form-control form-control-lg" />
                        <label class="form-label" for="additional_info">Additional Information</label>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-5 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                          <input type="text" id="zip_code" name="zip_code" class="form-control form-control-lg" />
                          <label class="form-label" for="zip_code">Zip Code</label>
                        </div>
  
                      </div>
                      <div class="col-md-7 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                          <input type="text" id="place" name="place" class="form-control form-control-lg" />
                          <label class="form-label" for="place">Place</label>
                        </div>
  
                      </div>
                    </div>
  
                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="text" id="country" name="country" class="form-control form-control-lg" />
                        <label class="form-label" for="country">Country</label>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-5 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                          <input type="text" id="code" name="code" class="form-control form-control-lg" />
                          <label class="form-label" for="code">Code +</label>
                        </div>
  
                      </div>
                      <div class="col-md-7 mb-4 pb-2">
  
                        <div class="form-outline form-white">
                          <input type="text" id="phone_number" name="phone_number" class="form-control form-control-lg" />
                          <label class="form-label" for="phone_number">Phone Number</label>
                        </div>
  
                      </div>
                    </div>
                    <div class="form-check d-flex justify-content-start mb-4 pb-3">
                      <input class="form-check-input me-3" type="checkbox" value="" id="terms_conditions" name="terms_conditions" />
                      <label class="form-check-label " for="terms_conditions">
                        I do accept the <a href="#!"><u>Terms and Conditions</u></a> of your
                        site.
                      </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg"
                      data-mdb-ripple-color="dark">Register</button>
                      <a  href="login.php" class="btn btn-primary btn-lg"
                    data-mdb-ripple-color="dark">Login</a>
                </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
