<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
		<script src="../script/Script.js"></script>
		<link href="../css/style.css" rel="stylesheet">
		<title>
			Document

		</title>
		<style>
			.pagination {
				justify-content: center;
			}
		</style>
	</head>
	<body>
		<nav>
			<a href="index.php" class="btn btn-primary">
				Create-User
			</a>
		</nav>
		<div id="search" style="position: absolute; right: 80px; top: 5px; margin-right: 10px;">
			<label>Search</label>
			<input type="text" id="searchInput" autocomplete="off">
		</div>
		<button class="btn btn-warning" id="resetButton" style="position: absolute; right: 10px; top: 2px; margin-right: 10px;">
			Reset

		</button>
		<div id="table-data"></div>
	</body>
</html>
