#book-rating-div {
    display: none;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    background-color: rgb(89, 208, 166);
    border: 1px solid black;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    width: 500px;
    height: 400px;
}

#book-rating-closer {
    float: right;
    background-color: red;
}

.error {
    color: red;
}