<section class="main-content mt-5 mb-5" style="margin-left:400px" id="otp-section">
	<div class="container">
		<div id="content" class="" role="main">

				<!-- OTP Form -->
				<div class="col-md-6 col-lg-6 ml-auto formRegister">
					<form action="action.php" id="otp-form" method="post">
						<!-- Otp -->
						<div class="mb-4">
							<label for="register_otp" class="form-label">Enter The Verification code&nbsp;<span
									class="required">*</span></label>
							<input id="register_otp" type="text" name="register_otp" placeholder="Enter OTP"
								class="form-control inputGrey border-md border-left-0 pl-3">
						</div>
						<!-- Submit Button -->
						<div class="form-group col-lg-12 mx-auto mb-0 mt-5 text-center">
							<button href="#" class="btn btn-primary btn-lg" name="otp_submit" style="width: 220px;">
								<span class="font-weight-bold">Submit</span>
							</button>
						</div>	
						<!-- Divider Text -->
						<div class="form-group col-lg-12 mx-auto d-flex align-items-center my-5">
							<div class="border-bottom w-100 ml-5"></div>
							<span class="px-2 small text-muted font-weight-bold text-muted"
								style="font-size: 16px;font-weight: bold;">OR</span>
							<div class="border-bottom w-100 mr-5"></div>
						</div>
						<!-- Resend OTP -->
						<div class="text-center w-100 ">
							<p class="text-muted font-weight-bold" style="font-size: 16px;">If you don't get the OTP? <a href="action.php?type=resend" class="text-primary ml-2">Resend Code</a></p>
						</div>						
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>
<script src="{{baseurl}}src/View/templates/js/jquery.validate.min.js"></script>
<script src="{{ baseurl }}src/View/templates/js/signin.js"></script>
<script src="{{ baseurl }}src/View/templates/js/registerNumber.js"></script>

{% include 'footer.html.twig' %}