<section class="main-content mt-5 mb-5" style="margin-left:400px" id="number-section">
	<div class="container">
		<div id="content" class="" role="main">
			<div class="row py-5 mt-4 justify-content-between">
				
				<!-- Email register Form -->
				<div class="col-md-6 col-lg-6 ml-auto formRegister">
					<form action="action.php" id="register-email-form"  method="post" autocomplete="off">
						<!-- Email Number -->
						<div class="mb-4">
							<label for="emailNumber" class="form-label">Email&nbsp;<span
									class="required">*</span></label>
							<input id="new_user_email" type="email" name="email" placeholder="Enter Your Email"
								class="form-control inputGrey border-md border-left-0 pl-3">
						</div>
						<!-- Submit Button -->
						<div class="form-group col-lg-12 mx-auto mb-0 mt-5 text-center">
							<button href="#" class="btn btn-primary btn-lg" name="get_register_otp" style="width: 220px;">
								<span class="font-weight-bold">Get Otp</span>
							</button>
						</div>
						<!-- Divider Text -->
						<div class="form-group col-lg-12 mx-auto d-flex align-items-center my-5">
							<div class="border-bottom w-100 ml-5"></div>
							<span class="px-2 small text-muted font-weight-bold text-muted"
								style="font-size: 16px;font-weight: bold;">OR</span>
							<div class="border-bottom w-100 mr-5"></div>
						</div>
						<!-- Already Registered -->
						<div class="text-center w-100 ">
							<p class="text-muted font-weight-bold" style="font-size: 16px;">Already Registered? <a href="signin.php" class="text-primary ml-2">Login</a></p>
						</div>				
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>
<script src="{{baseurl}}src/View/templates/js/jquery.validate.min.js"></script>
<script src="{{ baseurl }}src/View/templates/js/signin.js"></script>
<script src="{{ baseurl }}src/View/templates/js/registerNumber.js"></script>

{% include 'footer.html.twig' %}