<div class="col-md-3 border-right">
    <div class="accountLeftmenu">
        <h6>My account</h6>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a href="Profile.php" class="nav-link link-dark">
                    <i class="fa fa-user"></i>
                    Account Details
                </a>
            </li>

            <li>
                <a href="personalBook.php" class="nav-link">
                    <i class="fa fa-book"></i>
                    My Books
                </a>
            </li>
            <li>
                <a href="lendingHistory.php" class="nav-link link-dark">
                    <i class="fa fa-history"></i>
                    Lending History
                </a>
            </li>
            <li>
                <a href="borrows.php" class="nav-link link-dark">
                    <i class="fa fa-book"></i>
                    Borrows
                </a>
            </li>
            <li>
                <a href="wishList.php" class="nav-link link-dark">
                    <i class="fa fa-heart"></i>
                    Wish List
                </a>
            </li>
            <li>
                <a href="logout.php" class="nav-link link-dark">
                    <i class="fa fa-power-off"></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
</div>