
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&amp;display=swap');

 body {
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	line-height: 25px;
	color: #888;
	margin: 0px;
	padding: 0px;
	/* background: #edf3f4; */
}
h1, h2, h3, h4, h5, h6 {
    color: #333;
	margin: 0px;
	padding: 0px;
}
 p {
	font-size: 13px;
	line-height: 22px;
	color:#888;
}
img {
	height: auto;
	max-width: 100%;
}
ul, ol {
    list-style: outside none none;
}
ul {
    margin: 0;
    padding: 0;
}
img {
    transform-style: preserve-3d;
}
a {
    text-decoration:none !important;
    color:#888;
    transition-duration: 0.4s;
}
a:hover {
    transition-duration: 0.4s;
    color:#333;
}
a, a:hover {
    text-decoration: none;
}
a:focus {
    outline: medium none;
    outline-offset: 0;
}
.btn-primary, .btn-primary:hover{
	background: #2f2b35;
	border-color: #2f2b35;
}
/* :root {
  --bs-blue: #2f2b35;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #2f2b35;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #0a58ca;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
} */

.siteHeaderMain .siteHeader{
	z-index: 999;
	height: 130px;
	padding: 0;
	background: #2f2b35;
	font-size: 13px;
	line-height: 28px;
}
.siteHeaderMain .siteHeader .logoText{
	padding-top: 35px;
	color: #ffffff;
	font-family: "Montserrat", sans-serif;
	font-size: 38px;
	display: block;
}
.siteHeaderMain .mainMenu {
	margin-top: 35px;
}
.siteHeaderMain .mainMenu ul li a{
	color: #fff;
	border-radius: 0px;
}
.siteHeaderMain .mainMenu ul li a.active, .siteHeaderMain .mainMenu ul li a:hover{
	color: #fff;
	border-bottom: 2px solid #fff;
	margin-bottom:-2px;
	background: none;
}
.slider-wrap .owl-nav [class*="owl-"], .slider-wrap .owl-prev, .slider-wrap .owl-next {
	position: absolute !important;
	top: 50% !important;
	width: 30px !important;
	height: 80px !important;
	margin: -40px 0 0 0 !important;
	/* opacity: 0 !important; */
	color: #ffffff !important;
	background: rgba(0, 0, 0, 0.5) !important;
	font-size: 18px !important;
	line-height: 80px !important;
	text-align: center !important;
	left: 0px;
}
.slider-wrap .owl-next {
	right: 0 !important;
	left: inherit !important;
}
.slider-wrap .owl-theme .owl-nav{
	margin: 0px;
}
.searchArea{
	padding-top: 30px;
	padding-bottom: 15px;
	background: #fff;
}
.searchArea .mb-3{
	position: relative;
}
.searchArea .select-arrow {
	position: absolute;
	top: 0;
	right: 25px;
	color: #2f2b35;
	line-height: 34px;
}
.searchArea .form-control {
	position: relative;
	border: none;
	border-radius: 4px;
	background: #edf3f4;
	box-shadow: none;
	font-size: 12px;
	line-height: 20px;
}
.searchArea .btn {
	border-color: #2f2b35;
	color: #ffffff;
	background: #2f2b35;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.section-padding{
	padding: 60px 0px;
}
.sectionHeading{
	font-size: 28px;
	font-weight: bold;
	color: #2f2b35;
	margin-bottom: 30px;
	line-height: normal;
}
.recentlyBook{
	background: #edf3f4;
}
.bookBox{
	background: #fff;
	padding: 5px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 5px 5px #e0e0e0;
}
.bookBox .book-Short-Detail{
	padding: 15px;
	min-height: 120px;
}
.bookBox .book-Short-Detail h2{
	color: #2f2b35;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px;
	height: 45px;
}
.bookBox .book-Short-Detail .genresArea{
	padding-top: 5px;
}
.bookBox .bookCoverImg img{
	height: 340px;
	object-fit: cover;
}
.starRating i{
	color: #ffbb11;
	cursor: pointer;
}
.mostPopular{
	background: #fff;
}
.browseLibrary{
	height: auto;
	padding: 110px 0px;
	overflow: hidden;
	text-align: center;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}
.browseLibrary h2{
	font-size: 28px;
	display: block;
	color: #fff;
}
.browseLibrary a{
	color: #fff;
	font-size: 18px;
	margin-top: 15px;
	display: block;
}
.browseLibrary a::after {
	margin-left: 10px;
	font-family: "FontAwesome";
	content: "\f178";
}
footer.section-footer{
	padding: 80px 0 70px;
	background: #2f2b35;
	text-align: center;
}
.footer-menu-wrap {
	display: inline-block;
	text-align: center;
}
.footer-menu-wrap .navbar-nav > li {
	float: left;
}
.footer-menu-wrap ul li a {
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
}

/* Menu Icon */

header .hamb{
    cursor: pointer;
    float: right;
    padding: 23px 20px;
}
header .hamb-line {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    
}
header .hamb-line::before,
header .hamb-line::after{
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
header .hamb-line::before{
    top: 5px;
}
header .hamb-line::after{
    top: -5px;
}
header .side-menu {
    display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ .mainMenu{
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}


.loadBtn{
	background: #2f2b35;
	border: 0px none;
	color: #fff;
	border: 50px;
}
.loadBtn:hover{
	opacity: 0.9;
	background: #2f2b35;
}
.page-title {
  padding: 35px 0;
  background-color: #515570;
  background-size: cover;
  text-align: center;
}
.page-title h1, .page-title h2 {
  margin: 0;
  padding: 5px 0;
  color: #ffffff;
  font-size: 45px;
  font-weight: normal;
  line-height: 50px;
  text-transform: capitalize;
}
.page-title .breadcrumbs {
  margin: 0;
  padding: 10px 0 5px;
  color: #ffffff;
  background: none;
  font-size: 15px;
  font-weight: normal;
  font-style: italic;
  line-height: 20px;
  display: block;
}
.breadcrumb > li + li::before {
  content: "/\00a0";
  padding: 0 5px;
  color: #ccc;
}
.breadcrumb > li {
  display: inline-block;
}
.page-title .breadcrumbs a {
  color: #ffffff;
}
.main-content-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* #content {
	position: relative;
	margin: 0;
	padding: 0;
	padding-right: 50px;
	padding-left: 50px;
	border-radius: 6px;
	background: #ffffff;
} */
.inputGrey{
	border: 1px solid #dddddd;
	border: none;
	border-radius: 3px;
	background: #edf3f4;
}
.loginForm, .registerForm{
	border: 1px solid #d3ced2;
	padding: 20px;
	margin: 2em 0;
	text-align: left;
	border-radius: 5px;
}
.border-bottom {
  border-bottom: 1px solid #eeeeee !important;
}
.divide-or-line{
	display: flex;
	flex-direction: row;
 }   
 .divide-or-line:before, .divide-or-line:after {
	content: "";
	flex: 1 1;
	border-bottom: 2px solid #000;
	margin: auto;
}
.formRegister label.form-label{
	margin-bottom: 0px;
}
.formRegister a.forgotLink{
	color: #2f2b35;
}
.grey-bg{
	background: #edf3f4;
}
.white-bg{
	background: #fff;
}
.addBookWapper label.form-label{
	margin-bottom: 0px;
}
.bookISBN {
	padding-right: 60px;
	position: relative;
}
.bookISBN .codeArea {
	position: absolute;
	right: 0px;
	top: 25px;
}
label.form-label .required {
	color: red;
	font-weight: 700;
}
.bookAuthorArea {
	margin-top: 0px;
	height: auto;
	overflow: hidden;
}
.titleBook{
	color: #2f2b35;
	font-size: 22px;
	font-weight: bold;
}
.bookAuthorArea span {
	padding: 5px 12px;
	color: #2f2b35;
	font-size: 14px;
	margin: 2px;
	border-left: 1px solid #999FAE;
	display: inline-block;
}
.bookAuthorArea span:first-child{
	padding-left: 0px;
	border-left: 0px none;
}
.starRating i{
	color: #ffbb11;
	cursor: pointer;
}
.bookCoverImages{
	margin: 15px 0px;
}
.bookCoverImages .bookImg{
	display: inline-block;
	height: 200px;
	width: 150px;
	overflow: hidden;
	margin: 0px 10px 10px 0px;
}
.bookCoverImages .bookImg img{
	object-fit: cover;
	height: 200px;
	width: 150px;
}
.availBookUsers {
	margin: 20px 0px;
}
.availBookUsers .userBookBox{
	border: 1px solid #ccc;
	padding: 5px; 
	position: relative;
	min-height: 120px;
	padding-left: 130px;
	margin-bottom: 15px;
}
.availBookUsers .userBookBox .userImg{
	position:absolute;
	left: 0px;
	top: 0px;
	width: 118px;
	height: 118px;
}
.availBookUsers .userBookBox .userImg img{
	position:absolute;
	left: 0px;
	top: 0px;
	object-fit: cover;
	height: 118px;
	width: 118px;
}
.availBookUsers .userBookBox h3{
	font-size: 16px;
}
.availBookUsers .userBookBox .addressUser{
	font-size: 14px;
}
.availBookUsers .userBookBox .bookCondition{
	font-size: 14px;
}
.availBookUsers .userBookBox .requestBtn a{
	font-size: 12px;
	font-weight: 500;
	margin-top: 10px;
}
.reviewListing{
}
.reviewListing .profile-pic {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  margin-right: 30px;
}
.reviewBox{
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ccc;
}
.reviewBox .review-part{
	position: relative;
	padding-left: 100px;
}
.reviewBox .review-part-left{
	width: 80px;
	height: 80px;
	border: 1px solid #ccc;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
}
.reviewBox .review-part-left img{
	height: 80px;
	width: 80px;
	object-fit: cover;
}
.reviewBox .bookAuthorArea span {
	padding-top:0px;
	padding-bottom:0px;	
	color: #888;
	line-height: 14px;
	font-size: 12px;
}
.reviewBox .reviewText{
	font-size: 14px;
	line-height: normal;
	margin-top: 6px;
}

.border-right {
  border-right: 1px solid #eae8e4 !important;
}
.border-bottom {
  border-bottom: 1px solid #eae8e4 !important;
}
.accountLeftmenu h6{
	padding-top: 3rem !important;
	margin-bottom: 3rem !important;
	font-size: 2rem;
	font-weight: 500;
}
.accountLeftmenu ul{
	margin-bottom: 50px;
}
.accountLeftmenu ul.nav li a i{
	width: 25px;
	font-size: 18px;
}
.accountLeftmenu ul.nav li a.nav-link{
	margin-bottom: 10px;
	color: #7f7f83 !important;
	font-weight: 600;
}
.accountLeftmenu ul.nav li a.nav-link.active, .accountLeftmenu ul.nav li a.nav-link.active:hover{
	background: #2f2b35;
	color: #fff !important;
}
.accountLeftmenu ul.nav li a.nav-link:hover{
	background: #f2f2f2;
	color: #7f7f83 !important;
}
.accountRightSide{
	margin-bottom: 80px;
	min-height: 450px;
}
.accountRightSide h6{
	padding-top: 3rem !important;
	margin-bottom: 3rem !important;
	font-size: 2rem;
	font-weight: 500;
}
.accountRightSide .subTitle{
	margin-bottom: 1.5rem !important;
	font-size: 1.5rem;
	font-weight: 500;
	color: #333;
}
.accountRightSide .form-label{
	color: #333;
	font-weight: 500;
	margin-bottom: 0px;
}
.accountRightSide .form-label em{
	color: red;
}
.bookCoverArea{
	height: 80px;
	width: 60px;
	object-fit: cover;
}
.genreGroup .owl-nav{
	position: absolute;
	right: 0px;
	top: -65px;
	font-size: 25px;
	margin-top: 0px;
}
.genreGroup.owl-carousel .owl-nav button[type="button"]{
	background: #000 !important;
	color: #fff !important;
	padding: 5px !important;
}
.genreGroup .bookBox{
	margin: 10px 5px;
}
/* Responsiveness */

@media (min-width: 768px) {
    .mainMenu{
        max-height: none;
        top: 0;
        position: relative;
        width: fit-content;
        background-color: transparent;
    }
    .hamb{
        display: none;
    }
	.addBookWapper{
		padding-left: 50px;
		padding-right: 50px;
	}
}
@media (max-width: 767px) {
	.siteHeaderMain .siteHeader{
		height: 50px;
	}
	header.siteHeaderMain{
		position: sticky;
		top: 0;
		z-index: 999;
	}
	header.siteHeaderMain .justify-content-center.d-flex {
		justify-content: space-between !important;
	}
    .siteHeaderMain .mainMenu{
		width: 100%;
		height: 100%;
		position: fixed;
		background-color: #2f2b35;
		overflow: hidden;
		z-index: 999;
		max-height: 0;
		transition: max-height .5s ease-out;
		margin-top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		top: 50px;
	}
	.menu a{
		display: block;
		padding: 15px 30px;
		color: #fff;
	}
	.menu a:hover{
		background-color: #333;
	}
	.mainMenu .nav{
		display: block;
	}
	.siteHeaderMain .siteHeader .logoText {
		padding-top: 10px;
		font-size: 18px;
	}
	.site-brand{
		margin: 0px;
		font-size: 20px;
	}
}